@page "/"
@inject NavigationManager Urihelper
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <!-- Google Tag Manager -->
    <!-- Load GTM-P3WXFWCW immediately on page load  -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P3WXFWCW');
    </script>
    <!-- Load GTM-W8WD8WN on user interaction -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const events = ["mousemove", "scroll", "keydown", "touchstart"];
            function loadGTM() {
                events.forEach(event => document.removeEventListener(event, loadGTM));
                (function (w, d, s, l, i) {
                    w[l] = w[l] || []; w[l].push({
                        'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                    }); var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-W8WD8WN');
            }
            events.forEach(event => document.addEventListener(event, loadGTM, { once: true }));
        });
    </script>
	<!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <title>
        Logic Circuit Designer  - Syncfusion Blazor Components Showcase App
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The Logic Circuit Designer App is a powerful and intuitive web application built using Blazor, a modern web framework that allows developers to build interactive and dynamic web applications. This application is designed to facilitate the creation, simulation, and analysis of digital logic circuits.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- To choose the proper font family -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!-- Used for Property panel -->
    <link href=@Urihelper.Uri rel="canonical" />
    <link href="_content/Syncfusion.Blazor/styles/fluent2.css" rel="stylesheet" />
    <ResourcePreloader />
        <!-- To refer the icons for the sample -->
        <link href="@Assets["_content/BlazorServerCommon_NET10/assets/db-icons1/style.css"]" rel="stylesheet" />
        <!-- Conatins the Css property used in the sample level -->
        <link href="@Assets["_content/BlazorServerCommon_NET10/assets/dbstyle/diagrambuilder.css"]" rel="stylesheet" />
        <script src="@Assets["_content/BlazorServerCommon_NET10/interop.js"]" async></script>  
        <script src="@Assets["_content/Syncfusion.Blazor/scripts/syncfusion-blazor.min.js"]"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <!-- Google Tag Manager (noscript) -->
    <!--Page Load-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3WXFWCW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!--Interaction-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8WD8WN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">

        </environment>
    </div>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
